<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div layout:fragment="page">
        <form th:action="@{'/registeruser'}" method="post">
            <div class="row mt-3">
                <div class="col-12">
                    <label>Full name:</label>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-12">
                    <input type="text" class="form-control" name="user_fullName">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label>Email:</label>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-12">
                    <input type="email" class="form-control" name="user_email">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label>Password:</label>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-12">
                    <input type="password" class="form-control" name="user_password">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label>Retype:</label>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-12">
                    <input type="password" class="form-control" name="user_rePassword">
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>
</div>
</body>
</html>